<ion-view title="Account">
    <ion-content ng-style="{{ billDetails.contacts.length ? {'margin-bottom': '90px'} : {'margin-bottom':'0'} }}"  direction="y" class="padding">
        <h1 class="title-logo text-align-center">Confirm</h1>

        <ion-list class="bill_details">
            <ion-item class="item item-icon-left  item-icon-right" ng-model="formattedBreakdown" ng-repeat="item in formattedBreakdown | orderObjectBy:'row'">
                    <i class="icon {{item.icon}}"></i>
                    <span class="item-text-wrap ">{{item.name}}</span>
                    <i class="icon {{item.color}}">{{item.content}}</i>
            </ion-item>
        </ion-list>
        <div style="height:10px"></div>
        <h3 ng-show="billDetails.contacts" class="raleway">Bills will be sent to:</h3>
        <ion-list class="bill_details">
            <ion-item class="item" ng-repeat="item in billDetails.contacts">
                <i class="icon ion-email" style="margin-right:10px"></i>{{item}}
            </ion-item>
        </ion-list>

    </ion-content>
    <div ng-show="billDetails.contacts" class="fill-from-bottom">
        <button style="bottom:50px" ng-click="onConfirmClicked()" type="button" class="button button-balanced button-block">Finish</button>
    </div>
</ion-view>
