<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-dark fade-in-not-out">

    <ion-tab title="Sign in" href="#/tab/signon">
        <ion-nav-view name="tab-signon"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Split" href="#/tab/split">
        <ion-nav-view name="tab-split"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Confirm" href="#/tab/confirm">
        <ion-nav-view name="tab-confirm"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Rating" href="#/tab/rating" hidden="true">
        <ion-nav-view name="tab-rating"></ion-nav-view>
    </ion-tab>

</ion-tabs>
